@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miami');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}
.header-container {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  /* width: 1440px; */
  height: 715px;
  /* border: 2px solid red; */
}
.header-container h2 {
  color: #e6533c;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
  line-height: 120%; /* 2.7rem */
  margin-left: 185px;
  margin-top: 58px;
}
.nav-items {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 457px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 25px;
  font-family: Inter;
  font-size: 18px;
  gap: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
margin-top: 58px;
  margin-right: 200px;
}
.home {
  border-radius: 46px;
  background: #e6533c;
  width: 98px;
  height: 38px;
  padding-left: 30px;
  padding-top: 8px;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.left {
  width: 520px;
  height: 440px;
  /* border: 2px solid seagreen; */
  margin-top: 97px;
  margin-left: 190px;
  margin-bottom: 75px;
}
.heading {
  height: 282px;
  width: 520px;
  /* border: 2px solid red; */
}

.heading h1 {
  padding: 0;
  color: #fff;
  font-family: Inter;
  font-size: 78px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 93.6px */
  margin-top: 0;
}
.shape {
  color: #fff;
  font-family: Miami;
  font-size: 78px;
  font-style: italic;
  font-weight: 800 px;
  line-height: 120%;
}
.paragraph {
  width: 520px;
  height: 158px;
  /* border: 2px solid red; */
  color: rgba(255, 255, 255, 0.5);

  /* body-text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.btn {
  width: 520px;
  height: 54px;
  /* border: 2px solid red; */
}
.right {
  height: 349px;
  width: 575px;
  /* border: 2px solid brown; */
  margin-top: 32px;
  margin-right: 214px;
  margin-left: 87px;
}
.main {
  display: flex;
}
.btn-1 {
  height: 54px;
  width: 224px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  border-radius: 42px;
  background: #e6533c;
  margin-right: 14px;
  border: none;
}
.btn-2 {
  height: 54px;
  width: 224px;
  color: #fff;
  background-color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  border-radius: 42px;
  border: 1px solid #fff;
}
/* .btn{
  gap:14px
} */
.left-bottom {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  height: 96px;
  width: 206px;
  /* border: 2px solid greenyellow; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 29px;
  padding-top: 20px;
  padding-right: 23px;
}
.left-bottom h1 {
  color: var(--Text-1, #fafaf9);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
}
.left-bottom h3 {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));

  /* body-text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.right-top h1 {
  margin-bottom: 0;
  padding: 0;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  /* line-height: 40px; 100% */
  letter-spacing: 1px;
}
.right-top h3 {
  padding: 0;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 20px; 153.846% */
  letter-spacing: 1px;
}
.big-image {
  padding-left: 10px;
}
.main {
  position: relative;
}
.left-bottom {
  position: absolute;
  top: 453px;
  left: 764px;
}
.right-top {
  width: 193px;
  height: 98px;
  position: absolute;
  top: 170px;
right: 255px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
}
.hamburgerIcon {
  display: none;
  visibility: hidden;
}
.habits {
  max-width: 1044px;
  margin: 100px auto;
}
.habits h1 {
  margin-bottom: 14px;
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
}
.habits p {
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
.movement {
  width: 231px;
  text-align: center;
}
.movement h3 {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
.movement p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
}
.time {
  width: 231px;
  text-align: center;
}
.time h3 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
.time p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
}
.img-2 {
  border-radius: 2000px;
}
.img-1 {
  border-radius: 2000px;
}
.practice {
  width: 231px;
  text-align: center;
}
.practice h3 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
.practice p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
}
.img-3 {
  border-radius: 2000px;
}
.w8-loss {
  width: 231px;
  text-align: center;
}
.img-4 {
  border-radius: 2000px;
}
.w8-loss h3 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
.w8-loss p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
}
.picture {
  margin-left: 62px;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
}

.run-easily {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  background: #222;
}
.run-easily h2 {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
}

.run-easily p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
.run-easily button {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  display: flex;
  width: 224px;
  border: none;
  padding: 16px 40px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 42px;
  background: #e6533c;
  outline: none;
}
.run-easily-right-container img {
  border-radius: 18px;
  background: url(<path-to-image>) lightgray -592.626px -156.368px / 335.395%
    258.887% no-repeat;
  width: 366px;
  height: 312px;
}
.run-easily-right-container {
  padding-top: 30px;
  padding-bottom: 29px;
  padding-right: 32px;
}
.run-easily-left-container {
  padding-left: 54px;
}
.container {
  background: #222;
}
.BMI-header {
  width: 671px;
  margin: 0 auto;
}
.BMI-header h2 {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 0;
  line-height: 120%; /* 57.6px */
}
.BMI-header p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
.chart-BMI {
  display: flex;
  justify-content: space-between;
  /* padding-left: 189px;
  padding-top: 52px; */
  width: 1060px;
  margin: 0 auto;
}
.chart h4 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 33.6px */
}
.chart-table {
  width: 310px;
}

.chart-table th {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  padding-left: 0;
  /* padding-right: 45px; */
  padding-top: 25px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 120%;*/
}

.chart-table td {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
/* .BMI{
  margin-left: 175px;
  padding-right: 189px;
} */
.BMI h4 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 33.6px */
}
.BMI p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
.input-table {
  width: 282px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.height input {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  border: none;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  padding: 12px 40px 12px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
.weight input {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  border: none;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  padding: 12px 40px 12px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
.age input {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  border: none;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  padding: 12px 40px 12px 20px;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
.inpt1 {
  color: rgba(255, 255, 255, 0.30);
  font-family: Inter;
  font-size: 16px;
  margin-top: 2px;
  width: 275px;
  height: 47px;
  border: none;
  line-height: 22px; /* 137.5% */
  /* padding: 12px 40px 12px 20px; */
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}
.inpt2 {
  margin-top: 10px;
  width: 560px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.calculate-button {
  text-align: center;
  color: #fff;
  /* color: rgba(255, 255, 255, 0.6); */
  font-size: 20px;
  padding: 15px 50px;
  border-radius: 42px;
  background: #e6533c;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  border: 0;
}

.meet-our-team h1 {
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 0;
  line-height: 120%;
}
.meet-our-team p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
.team-member img {
  height: 335px;
  width: 333px;
  object-fit: cover;
  border-radius: 20px;
}
.team-member {
  width: 1060px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  padding: 25px;
  border-radius: 20px;
  grid-template-columns: repeat(3, 1fr);
  background: #222;
}
.bell {
  position: relative;
}
.text-bell {
  position: absolute;
  bottom: 10px;
}
.text-bell h5 {
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}
.text-bell p {
  margin: 0;
}
.cameron {
  position: relative;
}
.text-cameron {
  position: absolute;
  bottom: 10px;
}
.text-cameron h5 {
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}
.text-cameron p {
  margin: 0;
}
.darell {
  position: relative;
}
.text-darell {
  position: absolute;
  bottom: 20px;
}
.text-darell h5 {
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}
.text-darell p {
  margin: 0;
}
.dianne {
  position: relative;
}
.text-dianne {
  position: absolute;
  bottom: 20px;
}
.text-dianne h5 {
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}
.text-dianne p {
  margin: 0;
}
.cody {
  position: relative;
}
.text-cody {
  position: absolute;
  bottom: 20px;
}
.text-cody h5 {
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}
.text-cody p {
  margin: 0;
}
.webb {
  position: relative;
}
.text-webb {
  position: absolute;
  bottom: 20px;
}
.text-webb h5 {
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  color: #fff;
}
.text-webb p {
  margin: 0;
}
.challenge-part {
  max-width: 1060px;
  /* border: 2px solid red; */
  margin: 20px auto;
}
.challenge-part h2 {
  color: #fff;
  font-size: 48px;
  margin: 10px;
  font-weight: 900;
}
.challenge-part p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.heading-section {
  width: 1060px;
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid yellowgreen; */
}
.challenge-elements {
  /* width: 250px; */
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.cardio {
  /* width: 500px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background-color: #222;
  /* margin: 15px auto; */
  padding: 20px 150px;
  text-align: center;
}

.strenght {
  /* width: 500px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background-color: #222;
  /* margin: 15px auto; */
  text-align: center;
  padding: 20px 150px;
}
.true {
  /* width: 500px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #222;
  border-radius: 20px;
  /* margin: 15px auto; */
  text-align: center;
  padding: 20px 150px;
}
.yoga {
  /* width: 500px; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #222;
  border-radius: 20px;
  /* margin: 15px auto; */
  text-align: center;
  padding: 20px 150px;
}
.challenge-elements h5 {
  color: #fff;
  font-size: 20px;
}
.footer-container {
  background-color: #222;
  margin-top: 50px;
  margin-bottom: 0;
  /* border: 2px solid red; */
}
.footer-element {
  width: 1060px;
  display: flex;
  margin: 50px auto;
  /* border:2px solid yellow; */
}
.fitness-container {
  width: 400px;
  /* border: 2px solid green; */
}
.get-container-1 {
  width: 300px;
  padding-left: 15px;
  /* border: 2px solid saddlebrown; */
}
.get-container-2 {
  padding-left: 15px;
  width: 300px;
  /* border:2px solid wheat; */
}
.fitness-container h2 {
  font-size: 70px;
  color: #e6533c;
  font-style: italic;
  font-family: Inter;
  margin-bottom: 5px;
}
.fitness-container p {
  color: rgba(255, 255, 255, 0.5);
}
.get-container-1 h5{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.get-container-2 h5{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.get-container-1 li,
.get-container-2 li {
  list-style: none;
  font-size: 18px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.horizontal hr {
  width: 1060px;
  color: rgba(255, 255, 255, 0.5);
}
.horizontal p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}






@media (max-width: 576px) {
  .header-container {
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
    width: 575px;
  }
  .heading {
    height: 20px;
  }
  .heading h1 {
    font-size: 76px;
  }
  .paragraph{
    margin-top: 255px;
    height: 70px;
  }
  .shape {
    font-size: 80px;
  }
  .main {
    flex-direction: column;
  }
  .right {
    width: 450px;
  }
  .left {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    height: max-content;
  }
  .header-container h2 {
    margin-left: 20px;
  }
  .nav-items {
    display: none;
  }
  .right-top {
    top: 60%;
    left: 50%;
  }
  .left-bottom {
    top: 85%;
    left: 3%;
  }
  /* .hamburgerIcon {
    display: block;
    /* width: 50px; */
  /* color: white;
    z-index: 20000; */
  /* .habits {
    margin-top: 400px;
  } */
  .picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right .big-image {
    padding-left: 0;
  }
  .habits h1 {
    color: #fff;
    font-family: Inter;
    padding-top: 100px;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 38.4px */
  }
  .habits p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.3px;
  }
  .movement img {
    /* width: 272px; */
    height: 180px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }
  .movement h3 {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
  }
  .movement p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.3px;
  }
  .run-easily {
    width: 530px;
    flex-direction: column;
    align-items: center;
  }
  .run-easily h2 {
    font-size: 45px;
    /* text-align: center; */
  }
  .run-easily p {
    /* text-align: center; */
  }
  .run-easily-left-container {
    padding-left: 33px;
    align-items: center;
  }
  .run-easily-right-container img {
    width: 470px;
    margin-left: 33px;
  }
  .run-easily-left-container .h2 {
    font-size: 32px !important;
  }
  .run-easily button {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    width: 350px;
    padding: 16px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 42px;
    background: #e6533c;
  }
  .run-easily-left-container .button {
    width: 287px;
    margin-left: 33px;
    margin-right: 33px;
    align-items: center;
  }
  .BMI-calculator-section {
    width: 575px;
    margin: 0 auto;
    flex-direction: column;
  }
  .chart-BMI {
    width: 575px;
    flex-direction: column;
  }
  .input-table {
    grid-template-columns: 1fr;
  }
  .input-table {
    width: 300px;
  }
  .BMI-header h2 {
    text-align:left;
    padding-left: 15px;
  }
  .BMI-header p {
    text-align:left;
    padding-left: 15px;
  }
  .chart h4 {
    text-align: center;
  }
  .chart table {
    width: 442px;
    margin-left: 72px;
  }
  .BMI h4 {
    text-align: center;
  }
  .BMI p {
    text-align: center;
  }
  .challenge-elements {
    grid-template-columns: 1fr;
  }
  .footer-element {
    width: 575px;
    flex-direction: column;
  }
  .heading-section {
    width: 575px;
  }
  .team-member {
    width: 490px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .team-member{
    width:480px;
  }
  .team-member img{
    height: 425px;
    width:470px;
  }
  .meet-our-team {
    width: 575px;
  }
  .BMI-header {
    width: 575px;
  }
  .activity input{
    width:233px;
  }
  .horizontal hr {
    width: 480px;
  }
  .habits {
    margin-top: 400px;
    width: 575px;
  }
  .hamburgerIcon{
    display: inline;
    visibility: visible;
    margin-top: 60px;
    padding-right: 25px;
  }
  .input-table{
    grid-template-columns: 2fr 2fr;
  }
  .height input{
    width:170px;
    margin-left: 50px;
  }
  .weight input{
    width:170px;
  }
  .age input{
    width:170px;
    margin-left: 50px;
  }
  .inpt1{
    width:235px ;
    height:47px ;
  }
  .activity input{
    width:436px;
    margin-left: 50px;
  }
  .calculate-button{
    width:280px;
    margin-left: 50px;
  }
  .inpt2{
    width: 475px;
    margin-left: 50px;
  }
  .cardio{
    width:230px;
    margin: 15px auto;
  }
  .strenght{
    width:230px;
    margin: 15px auto;
  }
  .true{
    width: 230px;
    margin: 15px auto;

  }
  .yoga{
    width: 230px;
    margin: 15px auto;
  }
  .fitness-container h2{
    margin-left: 20px;
    font-size: 70px;
    font-weight: 800;
  }
  .fitness-container p{
    margin-left: 20px;
    font-size: 14px;
  }
.get-container-1,
.get-container-2{
  font-size: 32px;
  font-weight: 700;
}

}
